.idea/
metric_results
__pycache__
kde
boxplots
matrices
scatter
metric_results_vis.zip
metric_results.zip
old_README.md
plots_vis.zip
plots
tvcg-datasets-mini.txt
Notebooks/.ipynb_checkpoints/
Notebooks/bar_charts/
Notebooks/rank_chart/
Notebooks/modified_scatter/
Notebooks/trails/

